<div>
  <div class="row">
    <div class="col-sm-auto" id='simulationContainer' #simulationConatiner>
    </div>
    <div class="col-sm-2">
      <div *ngIf="debug">
          Menu goes Here:
          <div>
            Movement: up - {{movement.up}} down - {{movement.down}} left - {{movement.left}} right - {{movement.right}};
          </div>
          <div *ngIf="camera">
            Camera position ( x: {{camera.position.x}} y: {{camera.position.y}} zoom: {{camera.zoomLevel}});
          </div>
      </div>
      <div *ngIf="person">
        <small>Energy: {{person.energy}} of {{person.maxEnergy}}</small>
        <div class="progress">
          <div class="progress-bar bg-info" role="progressbar"  [style.width] = "energyPercentString" aria-valuenow="person.energy" aria-valuemin="0" aria-valuemax="person.maxEnergy"></div>
        </div>
        <small>Stamina: {{person.stamina}} of {{person.maxStamina}}</small>
        <div class="progress">
          <div class="progress-bar bg-warning" role="progressbar" [style.width] = "staminaPercentString" aria-valuenow="person.stamina" aria-valuemin="0" aria-valuemax="person.maxStamina"></div>
        </div>
        <small>Food: {{person.fullness}} of {{person.maxFullness}}</small>
        <div class="progress">
          <div class="progress-bar bg-success" role="progressbar" [style.width] = "fullnessPercentString"  aria-valuenow="person.fullness" aria-valuemin="0" aria-valuemax="person.maxFullness"></div>
        </div>
        <div *ngIf="person.info">
          Info: {{person.info}}
        </div>
      </div>
      <div id="accordion">
          <div class="card" *ngIf="person">
              <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                    aria-expanded="false" aria-controls="collapseThree">
                    <ng-container *ngIf="person.plan[entity.planIndex]; else noAction">
                      {{person.action.name}}
                    </ng-container>
                    <ng-template #noAction>
                      No action
                    </ng-template>
                  </button>
                </h5>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body" *ngIf="person.plan">
                  <div *ngFor="let action of person.plan; let i=index">
                    {{i + 1}}. {{action.name}}
                  </div>
                </div>
              </div>
            </div>
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
                aria-controls="collapseOne">
                Goals
              </button>
            </h5>
          </div>
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body" *ngIf="actions">
              <div *ngFor="let action of actions; let i=index">
                <input type="button" value="{{action.name}}" class="btn btn-outline-secondary" (click)="setGoal(action.name)">
              </div>
            </div>
          </div>
        </div>
        <div class="card" *ngIf="person">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                aria-expanded="false" aria-controls="collapseTwo">
                Current Goals ({{person.goals.length}})
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              <div *ngFor="let goal of person.goals; let i=index">
                {{(i + 1)}}. {{goal}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <input type="button" value="Debug" class="btn btn-outline-warning" (click)="toggleDebug()">
    </div>
  </div>
</div>