<div>
  <div class="row">
    <div class="col-sm-auto" id='simulationContainer' #simulationConatiner>
    </div>
    <div class="col-sm-2">
      <div *ngIf="debug">
        Menu goes Here:
        <div>
          Movement: up - {{movement.up}} down - {{movement.down}} left - {{movement.left}} right - {{movement.right}};
        </div>
        <div *ngIf="camera">
          Camera position ( x: {{camera.position.x}} y: {{camera.position.y}} zoom: {{camera.zoomLevel}});
        </div>
      </div>
      <div *ngIf="selectedEntity">
        <h6>
          {{selectedEntity.toString()}}
        </h6>
      </div>
      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                aria-expanded="false" aria-controls="collapseThree">
                Display Settings
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
              <div>
                <div class="form-check" *ngFor="let render of renderTypes; let i=index">
                  <input class="form-check-input" type="radio" name="gridRadios" id="{{render}}" value="{{render}}" (click)='setRender(render)' checked>
                  <label class="form-check-label" for="{{render}}">
                   {{render}}
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card" *ngIf="person && person.goals">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                aria-expanded="false" aria-controls="collapseTwo">
                Current Goals ({{person.goals.length}})
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              <div *ngFor="let goal of person.goals; let i=index">
                {{(i + 1)}}. {{goal}}
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false"
                aria-controls="collapseOne">
                Goals
              </button>
            </h5>
          </div>
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body" *ngIf="actions">
              <div *ngFor="let action of actions; let i=index">
                <button class="btn btn-outline-secondary" (click)="setGoal(action.name)">
                    {{action.name}}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <input type="button" value="Debug" class="btn btn-outline-warning" (click)="toggleDebug()">
    </div>
  </div>
</div>